/* fonts raleway  */

@font-face {
	font-family: raleway;
	src: url(fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

/* for all elements */
* {
	margin: 0;
	box-sizing: border-box;
}

/* for full page */

html {
	scroll-behavior: smooth;
}

body {
	font-size: 24px;
	color: #000;
	font-family: 'raleway', sans-serif;
}

img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

picture {
	overflow: hidden;
	border-radius: 10px;
}

.img_scale img {
	transition: all 800ms ease-in-out;
}

.img_scale img:hover {
	transform: scale(1.2);
	transition: all 800ms ease-in-out;
}

h1 {
	width: 100%;
	text-align: left;
	padding: 48px 0;
	font-size: 64px;
}

h2 {
	font-size: 48px;
	margin-bottom: 48px;
	width: 100%;
	text-align: center;
}

h3 {
	font-size: 32px;
	margin-bottom: 32px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}

button {
	border: none;
	cursor: pointer;
}

input,
button {
	font-size: 24px;
}

input,
::placeholder {
	padding-left: 5px;
}

input {
	border: 2px solid #efefef;
}

input:focus,
input:focus::placeholder {
	background: #58ac58;
	color: #fff;
}

section {
	padding: 48px 10%;
}

/* header */

.header {
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding: 20px 10%;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.217);
}

/* dropdown menu */

.nav_container img {
	display: none;
}

.dropdown-content {
	display: flex;
}

.nav_container img {
	width: 50px;
}


.nav-link {
	text-decoration: none;
	color: #403E43;
	margin-left: 30px;
	cursor: pointer;
	font-size: 24px;
	display: inline-block;
	position: relative;
	transition: all 0.4s ease-in-out;
	font-weight: 500;
}

.nav-link:hover {
	color: #008000;
}

.nav-link:before {
	content: '';
	background: #008000;
	display: block;
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 0;
	height: 5px;
	transition: all 0.4s ease-in-out;
}

.nav-link:hover::before {
	width: 100%;
}

/* main */
.display_none {
	display: none;
}

/* recipe of the day */

.recipe_of_day {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.recipe_of_day h2 {
	text-align: left;
}

.recipe_of_day>a {
	align-self: stretch;
	width: 45%;
	overflow: hidden;
	border-radius: 10px;
}

.recipe_of_day img {
	height: 100%;
	object-fit: cover;
}

.recipe_description {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btn_wrapper {
	display: flex;
	align-items: flex-end;
	padding: 50px 0;
}

.btn {
	padding: 8px 24px;
	background: #008000;
	color: #fff;
	transition: all 125ms ease-in-out;
}

.btn:hover {
	background: #58ac58;
	transition: all 125ms ease-in-out;
}

/* recipe choice */

.recipe_choice {
	background: #efefef;
}

.recipe_wrapper {
	display: flex;
	justify-content: space-between;
}

.recipe_choice a {
	width: 20vw;
	text-align: center;
	font-weight: 600;
}

.recipe_choice picture {
	display: block;
	width: 20vw;
	aspect-ratio: 1/1;
	margin-bottom: 16px;

}

.recipe_choice img {
	aspect-ratio: 1/1;
	object-fit: cover;
}

.recipe_wrapper:hover a:not(:hover) {
	filter: grayscale(0.6);
}

.bottom_article_wrapper {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.bottom_article_wrapper p {
	flex: 1;
}

.bottom_article picture {
	width: 20vw;
	display: flex;
}

.bottom_article picture img {
	align-self: stretch;
	object-fit: cover;
}

/* recipe.html site */

/* teaser */

.teaser picture {
	display: block;
	width: 100%;
}

.teaser img {
	aspect-ratio: 5/1;
	object-fit: cover;
}

.how_wrapper {
	display: flex;
	gap: 20px;
	padding: 48px 0;
}

.how_wrapper p {
	text-align: left;
}

.how_container {
	display: flex;
	gap: 10px;
	background-color: #efefef;
	border-radius: 10px;
	padding: 5px 10px;
}

.how_wrapper img {
	height: 30px;
	width: 30px;
}

/* ingredients */



.ingredients_line:first-child {
	display: flex;
	padding: 10px 0;
	border-radius: 0;
}

.ingredients_line p {
	align-self: center;
	margin-right: 20px;
}

.ingredients_line:nth-child(2n) {
	background: #efefef;
}

.ingredients_line {
	border-radius: 10px;
	padding: 15px 30px;
	border-top: 2px solid #efefef;
}

.ingredients_line:first-child input {
	border-radius: 10px 0 0 10px;
	width: 200px
}

/* cooking */

.cooking h2 {
	text-align: left;
	margin-bottom: 0;
}

/* person */

.person_wrapper {
	display: flex;
	gap: 40px
}

.person_wrapper picture {
	width: 150px;
	border-radius: 50%;
}

.person_wrapper img {
	border-radius: 50%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

img.person_portrait_img {
	object-position: center -30px;
}

main picture img.no_hover_scale:hover {
	transform: scale(1);
}

.person_wrapper p {
	font-size: 32px;
	align-self: center;
}


/* Impressum.html */

#dat {
	color: rgb(64, 62, 67);
	font-size: 20px;
}

p #dat {
	color: rgb(64, 62, 67);
	font-size: 20px;
}

.impressum,
p.impressum,
.rechts {
	color: rgb(64, 62, 67);
	font-size: 16px;
}

h3.datenschutz {
	padding-bottom: 5px;
}


#imp a {
	color: rgb(64, 62, 67);
}

#dat h1 {
	font-size: 48px;
	color: rgb(64, 62, 67);
}

#dat h2 {
	color: rgb(64, 62, 67);
	font-size: 38px;
	display: contents;
}

#dat h3 {
	color: rgb(64, 62, 67);
	padding-top: 30px;
	font-size: 32px;
}

#dat p {
	font-size: 16px;
	margin-bottom: 30px;
}

#dat ul {
	font-size: 16px;
}

#imp h1 {
	font-size: 52px;
}


#imp #dat a.datenschutz-links {
	/*Link E-Mail im Impressum und Datenschutz*/
	color: rgb(64, 62, 67);
	font-size: 16px;
}

#imp a.datenschutz-links.rechts {
	color: rgb(64, 62, 67);
	font-size: 14px;
}

.rechts {
	color: rgb(64, 62, 67);
	font-size: 14px;
}

#imp a.datenschutz-links.rechts:hover {
	text-decoration: underline;
	color: rgb(0, 128, 0);
}

#imp a.datenschutz-links:hover {
	text-decoration: underline;
	color: rgb(0, 128, 0);
}

#dat a {
	color: rgb(64, 62, 67);
	font-size: 14px;
}

#dat a:hover {
	text-decoration: underline;
	color: rgb(0, 128, 0);
}



/* contact.html */

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.text {
	width: 50%;
	background: rgba(0, 128, 0, 0.868);
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 10%;
	box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.217);

}

.contact {
	display: flex;
	color: white;
	padding: 48px 0 90px 48px;


}

.contact-headline {
	color: #008000;
	font-size: 36px;
	padding: 48px 0;
	margin-bottom: 0px;
}


footer span {
	font-size: 24px;
	text-align: center;
}

.text-headline {
	font-size: 38px;
	text-align: center;
}

.contact-text {
	width: 70%;
	padding: 2%;
	margin-bottom: 24px;
	text-align: center;
	display: flex;
	align-items: center;
	border-color: #403E43;
	border: solid 1px;
	border-radius: 10px;

}

textarea {
	width: 70%;
	margin-bottom: 24px;
	font-size: 24px;
	font-family: 'raleway', sans-serif;
	text-align: center;
	border-color: #403E43;
	border: solid 1px;
	border-radius: 10px;
	padding-top: 16px;
	font-weight: 500;

}




/* "success" Die Seite nachdem die Nachricht abgesendet wurde*/

.success {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10%;
	font-family: 'raleway', sans-serif;
}

.success img {
	width: 35%;
	object-fit: cover;
	padding: 48px;

}

.succes-text {
	font-size: 64px;
	text-align: center;
	color: #008000;
	padding: 48px;
}

.succes-bottom,
.success-top {
	text-align: center;
	padding: 48px;
	font-size: 24px;
}

/* footer */

.footer {
	font-family: "Raleway", sans-serif;
	background-color: rgb(78, 75, 75);
	width: 100%;
	padding: 50px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer section {
	padding: 0;
}

footer a {
	color: black;
	font-size: 16px;
	transition: all 800ms;
	font-weight: 600;
}

.footer a:hover {
	color: #008000;
	cursor: pointer;
}

.footer-widget {
	width: 40px;
	background-color: white;
	border-radius: 2;
	background-color: rgb(78, 75, 75);
}


.footer-widget:hover {
	background-color: #008000;
}

.footer-widget-up {
	width: 80px;
	background-color: white;
	border-radius: 2;
	background-color: rgb(78, 75, 75);
	display: flex;
	align-items: flex-end;

}

.footer-widget-up:hover {
	background-color: #008000;
}

.footer-widget-bar {
	display: flex;
	justify-content: space-between;
}

/*responsive */


@media (max-width: 1280px) {

	/* navigation from text to buns */

	.nav_container img {
		display: block;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
		display: none;
		position: absolute;
		right: 70%;
		min-width: 50vw;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 2;
		flex-direction: column;
		align-items: center;
		padding: 16px 0 32px 0;
		gap: 50px;
		background: #f1f1f1;
		opacity: 0.98;

	}

	.nav-link {
		margin-left: 0;
	}


	/* The container - needed to position the dropdown content */
	.dropdown {
		position: relative;
		display: flex;
		align-self: center;
	}

	.dropdown a {
		width: 90%;
		text-align: center;

	}

	.dropdown a:hover {
		margin-left: 5%;
		transition: all 105ms ease-in-out;

	}

	.dropbtn:hover {
		cursor: pointer;
		background: rgba(160, 178, 160, 0.42);
	}



	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
	.show {
		display: flex;
		border-radius: 10px;
		height: auto;
		overflow: hidden;
	} 

	.show {
		animation-name: full-height;
		animation-duration: 300ms;
		animation-timing-function: ease-in-out;
	}

	@keyframes full-height {
		from {max-height: 0}
		to {max-height: 200px}
	}	

}

@media(max-width:1025px) {

	/*homepage*/

	body,
	input,
	button {
		font-size: 24px;
	}

	h1 {
		font-size: 52px;
		padding: 40px 0;
	}

	h2 {
		font-size: 38px;
	}

	/* recipes */

	section.igredients_recipe {
		padding: 0 10%;
	}

	section.person {
		padding-top: 0;
	}

	.teaser img {
		aspect-ratio: 3/1;
	}

	.how_wrapper {
		padding: 40px 0;
	}

	.how_wrapper img {
		width: 30px;
		height: 30px;
	}

	.person_wrapper p {
		font-size: 24px;
	}

	/*contact*/

	.succes-text {
		font-size: 52px;
	}
}

@media(max-width: 850px) {

	/* .header */

	.header picture {
		display: block;
		width: 50px;
	}

	/*homepage*/

	body,
	input,
	button {
		font-size: 16px;
	}

	h1 {
		font-size: 40px;
		padding: 24px 0;
	}

	h2 {
		font-size: 32px;

	}

	h3 {
		font-size: 26px;
	}

	.recipe_of_day {
		flex-direction: column;
	}

	.recipe_of_day h2 {
		text-align: center;
	}

	.recipe_of_day>a {
		width: 100%;
	}

	.recipe_wrapper {
		flex-direction: column;
		align-items: center;
	}

	picture {
		overflow: none;
		border-radius: 10px;
	}


	.img_scale img:hover {
		transform: none;
		transition: all 800ms;
	}

	.bottom_article {
		flex-direction: column-reverse;
	}

	.bottom_article picture {
		width: 100%;
	}

	h2,
	.teaser h2,
	p {
		text-align: center;

	}

	.recipe_of_day img {
		aspect-ratio: 16/9;
	}

	.btn_wrapper {
		justify-content: center;
		padding: 48px 0 0 0;

	}

	.recipe_choice a,
	.recipe_choice picture,
	.recipe_of_day picture {
		width: 100%;
	}

	.recipe_choice img {
		aspect-ratio: 16/9;
	}

	.recipe_choice picture {
		aspect-ratio: 16/9;
		margin-bottom: 24px;
	}

	.recipe_choice {
		padding: 48px 10% 0 10%;
	}

	.recipe_choice a {
		margin-bottom: 48px;
		font-size: 24px;
	}

	.bottom_article_wrapper {
		flex-direction: column;
	}

	.bottom_article img {
		aspect-ratio: 16/9;
	}



	/* recipes */

	.teaser img {
		aspect-ratio: 2/1;
	}

	.how_wrapper {
		padding: 24px 0;
	}

	.how_wrapper img {
		width: 20px;
		height: 20px;
	}

	.ingredients_wrapper input {
		max-width: 25vw;
	}

	p.cooking_text {
		text-align: left;
	}

	.person_wrapper p {
		font-size: 24px;
	}

	.person_wrapper picture {
		width: 100px;
	}



	/*contact*/

	.contact {
		flex-direction: column;
		align-items: center;
		padding: 48px 0 48px 0;
	}

	textarea {
		height: 10%;
		border-radius: 10px;
		font-size: 16px;

	}

	form {
		justify-content: unset;
		width: 100%;

	}

	.btn-contact {
		padding: 8px 24px;
		background: #008000;
		color: #fff;
	}

	footer {
		padding-top: 10%;
	}

	.text {
		width: 70%;
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.217);
		border-radius: 10px;
	}

	.contact-text {
		border-radius: 10px;
		font-size: 16px;

	}


	span,
	.btn {
		font-size: 16px;
	}

	.succes-text {
		font-size: 36px;
	}

	.succes-bottom,
	.success-top {
		font-size: 16px;
	}

	.success img {
		width: 50%;
	}

	footer {
		padding: 0;
	}

	/* datenschutz+impressum */


	#dat p,
	#imp p {
		font-size: 14px;
		text-align: left;
	}

	h3.datenschutz {
		padding-bottom: 5px;
	}

	#dat h1 {
		font-size: 26px;
	}

	#dat h2 {
		font-size: 20px;
		display: contents;
	}

	#dat h3 {
		padding-top: 30px;
		font-size: 18px;
	}

	#dat ul {
		font-size: 14px;
	}

	#imp h1 {
		font-size: 26px;
	}


	#imp a.datenschutz-links.rechts {

		font-size: 14px;
	}

	.rechts {

		font-size: 14px;
	}

	#dat a {
		font-size: 14px;
		word-wrap: break-word;
	}

}

@media(max-width: 500px) {

	/*homepage*/


	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}

	.dropdown-content {
		min-width: 60vw;
	}

	/* recipes */

	.how_wrapper {
		flex-direction: column;
	}

	.ingredients_line:first-child {
		flex-wrap: wrap;
	}

	.ingredients_line:first-child p {
		width: 100%;
		text-align: left;
	}

	.person_wrapper {
		flex-direction: column;
		gap: 10px;
		width: 75px;
	}

	.person_wrapper img {
		width: 75px;
	}

	.person_wrapper p {
		align-self: flex-start;
		font-size: 18px;
		width: 75px;
		text-align: center;
	}

	/*contact*/

	.text {
		width: 70%;
	}

	.succes-text {
		font-size: 25px;
	}

	.text-headline {
		font-size: 26px;
	}

	.success img {
		width: 100%;
	}

	.success img,
	.succes-bottom,
	.success-top {
		padding: 0;
	}

	.succes-bottom {
		padding-top: 48px;
	}

	span {
		padding-top: 0px;
	}

	.contact {
		padding: 32px 0;

	}

	.contact-headline {
		padding: 32px 0;

	}

	.footer-widget-up,
	.footer-widget-bar {
		margin-top: 16px;

	}

	.footer-widget-bar {
		padding-bottom: 16px;
	}

	.footer {
		flex-direction: column;

	}

	/* datenschutz+impressum */


	#dat {
		font-size: 14px;
	}

	p #dat {
		font-size: 14px;
	}

	.impressum,
	p.impressum,
	.rechts {
		font-size: 14px;
	}

	h3.datenschutz {
		padding-bottom: 5px;
	}

	#dat h1,
	#imp h1 {
		font-size: 26px;
	}

	#dat h2 {
		font-size: 20px;
		display: contents;
	}

	#dat h3 {
		padding-top: 30px;
		font-size: 18px;
	}

	#dat ul {
		font-size: 14px;
	}

	#imp a.datenschutz-links.rechts {

		font-size: 14px;
	}

	.rechts {
		font-size: 14px;
	}

	#dat a,
	a.datenschutz-links {
		font-size: 14px;
		word-wrap: break-word;
	}

}

@media(max-width: 350px) {

	#dat h1,
	#imp h1 {
		font-size: 22px;
	}
}