<footer class="footer">
    <section class="footersection">  
        <div class="footer-widget-bar">
            <a href="https://www.facebook.com/" target="_blank">
                    <img class="footer-widget" src="./img/icons/facebook.png">
            </a>
            <a href="https://www.twitter.com/" target="_blank">
                <img class="footer-widget" src="./img/icons/twitter.png">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <img class="footer-widget" src="./img/icons/instagram.png">
            </a>
        </div>
        <span class="footerspan">
            <a href="datenschutz.html">Datenschutz</a>
            <a href="impressum.html">Impressum</a>
        </span>
    </section>   
    <div class="nachoben">
        <a href="#header">
            <img class="footer-widget-up" src="./img/icons/hochscrollen.png">
        </a>
    </div>
</footer>
    

